<?php

declare(strict_types=1);

use Modulith\ModulithPhp\Core\Component\Config\ExplicitConfigBuilder;

return ExplicitConfigBuilder::create(
    \realpath(__DIR__{% if navigationToRootPath %} . '/' . '{{ navigationToRootPath }}'{% endif %}),
    '{{ baseNamespace }}',
)->build();
